.achievements {
  background-color: $color-grey-background;
  color: $color-grey;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 44px;
  width: 100%;

  @media (min-width: $tablet) {
    order: 4;
    background-color: $color-white;
    margin-top: 65px;
    padding-bottom: 0;
  }
}

.achievements__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet) {
    border: 2px solid $color-grey-border;
    border-radius: 1px;
    width: 100%;
  }
}

.achievements__title {
  color: $color-magenta;
  text-transform: uppercase;
  padding: 42px 47px 44px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 31px 0;
  }
}

.achievements__list {
  padding: 0 0 0 20px;
  margin: 0;

  @media (min-width: $tablet) {
    padding: 49px 60px 50px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.achievements__checkbox {
  padding: 0 0 0 55px;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}

.achievements__checkbox:not(:last-child) {
  padding-bottom: 47px;
}

.achievements__input {
  display: none;
}

.achievements__input + label::before,
.achievements__input:hover + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 39px;
  height: 39px;
  background: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 1px;
}

.achievements__input:focus + label::before {
  background: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 1px;
}

.achievements__input:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  background: $color-white;
  border: none;
  border-radius: 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.achievements__input:disabled + label::before {
  background-color: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 1px;
}
