.achievements {
  background-color: $color-grey-background;
  color: $color-grey;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 48px;
  width: 100%;

  @media (min-width: $tablet) {
    order: 4;
    background-color: $color-white;
    margin-top: 58px;
    padding-bottom: 0;
  }
}

.achievements__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet) {
    border: 2px solid $color-grey-border;
    border-radius: 1px;
    width: 100%;
    margin: 0;
  }
}

.achievements__title {
  color: $color-magenta;
  text-transform: uppercase;
  padding: 41px 40px 39px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0 31px 0;
  }
}

.achievements__list {
  padding: 0 0 0 20px;
  margin: 0;

  @media (min-width: $tablet) {
    padding: 49px 60px 50px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 257px 238px 206px;
    grid-gap: 0 57px;
    padding: 49px 60px 6px;
  }
}

.achievements__checkbox {
  padding: 0 0 0 56px;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}

.achievements__checkbox:not(:last-child) {
  padding-bottom: 52px;
}

.achievements__checkbox:nth-child(1) {
  @media (min-width: $desktop) {
    order: 1;
  }
}

.achievements__checkbox:nth-child(2) {
  @media (min-width: $desktop) {
    order: 4;
  }
}

.achievements__checkbox:nth-child(3) {
  @media (min-width: $desktop) {
    order: 2;
  }
}

.achievements__checkbox:nth-child(4) {
  @media (min-width: $desktop) {
    order: 5;
  }
}

.achievements__checkbox:nth-child(5) {
  @media (min-width: $desktop) {
    order: 3;
  }
}

.achievements__checkbox:nth-child(6) {
  @media (min-width: $desktop) {
    order: 6;
  }
}

.achievements__input {
  display: none;
}

.achievements__input + label::before,
.achievements__input:hover + label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -3px;
  width: 39px;
  height: 39px;
  background: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 1px;

  @media (min-width: $tablet) {
    left: -2px;
    top: -7px;
  }

  @media (min-width: $desktop) {
    left: -3px;
    top: -6px;
  }
}

.achievements__input:focus + label::before {
  background: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 1px;
}

.achievements__input:checked + label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -3px;
  background: $color-white;
  border: none;
  border-radius: 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet) {
    left: -2px;
    top: -7px;
  }

  @media (min-width: $desktop) {
    left: -3px;
    top: -6px;
  }
}

.achievements__input:disabled + label::before {
  background-color: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 1px;
}
