.apps-form {
  background-color: $color-grey-background;
  padding: 39px 0 45px;
  color: $color-grey;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;

  @media (min-width: $tablet) {
    order: 2;
    background-color: $color-white;
    padding: 57px 0 39px;
  }

  @media (min-width: $desktop) {
    width: 46.52%;
    margin-left: 70px;
    padding: 5px 0;
  }
}

.apps-form__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet) {
    border: 2px solid $color-grey-border;
    border-radius: 1px;
    width: 100%;
    margin: 0;
  }
}

.apps-form__title {
  color: $color-magenta;
  text-transform: uppercase;
  padding-bottom: 36px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 25px;
  }
}

.apps-form__list {
  padding: 0 0 0 20px;
  margin: 0;

  @media (min-width: $tablet) {
    padding: 49px 0 57px 61px;
  }

  @media (min-width: $desktop) {
    padding: 43px 0 58px 73px;
  }
}

.apps-form__radio {
  padding: 0 0 0 68px;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 0 0 58px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 60px;
    margin-top: 5px;
  }
}

.apps-form__radio:not(:last-child) {
  padding-bottom: 47px;

  @media (min-width: $tablet) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 41px;
  }
}

.apps-form__input {
  display: none;
}

.apps-form__input + label::before,
.apps-form__input:hover + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 39px;
  height: 39px;
  background: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 50%;

  @media (min-width: $tablet) {
    left: -2px;
    top: -5px;
  }
}

.apps-form__input:focus + label::before {
  background: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 50%;
}

.apps-form__input:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 39px;
  height: 39px;
  background: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 50%;
}

.apps-form__input:checked + label::after {
  content: "";
  position: absolute;
  left: 11px;
  margin-top: 11px;
  width: 15px;
  height: 15px;
  background: $color-magenta;
  border: none;
  border-radius: 50%;

  @media (min-width: $tablet) {
    margin-top: 7px;
    left: 12px;
  }

  @media (min-width: $desktop) {
    margin-top: 8px;
  }
}

.apps-form__input:disabled + label::before {
  background-color: $color-white;
  border: 2px solid $color-grey-border;
  border-radius: 50%;
}
