.apps {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -69px;
  background-image: url("../img/back-mobile.png");
  background-position: center;
  background-color: $color-grey-background;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;

  @media (min-width: $tablet) {
    margin-top: -110px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet@2x.png");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/back_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
}

.page-header--opened .apps {
  margin-top: -3px;

  @media (min-width: $tablet) {
    margin-top: -1px;
  }
}

.apps__title {
  color: $color-white;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  padding: 93px 20px 30px;
  margin: 0;

  @media (min-width: $tablet) {
    width: 184px;
    margin-left: 56px;
    padding: 206px 0 0;
    font-size: 40px;
  }

  @media (min-width: $desktop) {
    width: 230px;
    margin-left: 28px;
    padding: 208px 0 0;
    font-size: 50px;
    line-height: 68px;
  }
}

.apps__img {
  margin: 0;
  z-index: -1;

  @media (min-width: $tablet) {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (min-width: $desktop) {
    right: 4px;
  }
}

.apps__mobile {
  background-color: $color-grey;
  padding: 28px 0;

  @media (min-width: $tablet) {
    background-color: transparent;
    padding: 0;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 936px;
  }
}

.button {
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  padding: 21px;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.apps__button.button {
  display: flex;
  color: $color-white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  border: 3px solid $color-white;
  box-sizing: border-box;
  border-radius: 29px;
  margin: 0 auto 32px;
  padding: 15px 35px;
  text-decoration: none;

  @media (min-width: $tablet) {
    margin: 28px 0 46px;
    width: 300px;
    padding: 15px 45px 16px;
  }

  @media (min-width: $desktop) {
    margin: 37px 0 65px 0;
    font-size: 21px;
    padding: 15px 24px 16px;
  }
}

.apps__select {
  display: flex;
}

.apps__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  align-items: flex-end;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    margin-left: 46px;
  }

  @media (min-width: $desktop) {
    margin-left: 46px;
  }
}

.apps__item:not(:last-child) {
  margin-right: 35px;
}

.apps__link {
  bottom: 0;
  text-decoration: none;
}

.apps__description {
  margin: 14px 20px 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $color-white;
  padding: 0 8px;

  @media (min-width: $tablet) {
    margin: 25px 0 113px;
    width: 299px;
    font-size: 18px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin: 47px 0 125px -1px;
  }
}

.app__fieldset {
  border: none;
  padding: 0;
}

.app__headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.app__item {
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.app__item::marker {
  font-size: 0;
}
