.apps {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile;
  margin-top: -66px;
  background-image: url("../img/back-mobile.png");
  background-position: center;
  background-color: $color-grey-background;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet@2x.png");
  }

  @media (min-width: $tablet) {
    width: 660px;
    height: 110px;
    background-image: url("../img/back_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    width: $desktop;
    height: 110px;
    background-image: url("../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
}

.apps__title {
  color: $color-white;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  padding: 95px 20px 34px;
  margin: 0;
}

.apps__mobile {
  background-color: $color-grey;

  @media (min-width: $tablet) {
    background-color: inherit;
  }
}

.apps__button {
  display: flex;
  color: $color-white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  border: 3px solid $color-white;
  box-sizing: border-box;
  border-radius: 29px;
  margin: 28px auto 32px;
  padding: 21px 35px;
  text-decoration: none;
}

.apps__select {
  display: flex;
}

.apps__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  align-items: flex-end;
  padding: 0;
}

.apps__item:not(:last-child) {
  margin-right: 35px;
}

.apps__link {
  bottom: 0;
  text-decoration: none;
}

.apps__description {
  display: flex;
  margin: 24px 20px 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $color-white;
  padding: 0 8px;
}

.app__fieldset {
  border: none;
  padding: 0;
}

.app__headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.app__item {
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.app__item::marker {
  font-size: 0;
}
