.author {
  background-color: $color-white;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    order: 1;
  }

  @media (min-width: $desktop) {
    width: 50%;
  }
}

.author__item {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  line-height: 30px;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.author__surname-label,
.author__name-label,
.author__patronymic-label {
  color: $color-magenta;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 43px;
}

.author__surname,
.author__name,
.author__patronymic {
  margin: 17px 22px 29px;
  width: 100%;
}

.author__surname-input,
.author__name-input,
.author__patronymic-input {
  padding: 23px 20px;
  width: 100%;
  border: 2px solid $color-grey-border;
  border-radius: 1px;
}

.author__surname-input::-webkit-input-placeholder,
.author__name-input::-webkit-input-placeholder,
.author__patronymic-input::-webkit-input-placeholder {
  color: $color-grey;
  font-size: 18px;
}

.author__surname-input::-moz-placeholder,
.author__name-input::-moz-placeholder,
.author__patronymic-input::-moz-placeholder {
  color: $color-grey;
  font-size: 18px;
}

/* Firefox 19+ */
.author__surname-input:-moz-placeholder,
.author__name-input:-moz-placeholder,
.author__patronymic-input:-moz-placeholder {
  color: $color-grey;
  font-size: 18px;
}

/* Firefox 18- */
.author__surname-input:-ms-input-placeholder,
.author__name-input:-ms-input-placeholder,
.author__patronymic-input:-ms-input-placeholder {
  color: $color-grey;
  font-size: 18px;
}
