.author-contacts {
  background-color: $color-white;
  padding-bottom: 15px;
}

.author-contacts__item {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  line-height: 30px;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.author-contacts__phone-label,
.author-contacts__address-label {
  color: $color-magenta;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 43px;
}

.author-contacts__phone,
.author-contacts__address {
  margin: 17px 22px 29px;
}

.author-contacts__phone-input,
.author-contacts__address-input {
  padding: 23px 20px;
}

input::-webkit-input-placeholder {
  color: $color-grey;
  font-size: 18px;
}

input::-moz-placeholder {
  color: $color-grey;
  font-size: 18px;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: $color-grey;
  font-size: 18px;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: $color-grey;
  font-size: 18px;
}

.author-contacts__phone-icon,
.author-contacts__mail-icon {
  display: none;
  background-color: $color-grey-border;
  width: 59px;
  height: 59px;

  @media (min-width: $tablet) {
    display: block;
  }
}
