.banner {
    display: none;
    width: 100%;
    min-width: $mobile;
    height: 330px;
    flex-direction: column;

    @media (min-width: $tablet) {
      width: 660px;
      height: 110px;
      display: flex;
    }

    @media (min-width: $desktop) {
      width: $desktop;
      height: 110px;
      display: flex;
    }
}
