.banner {
  display: none;
  position: relative;
  z-index: 999;

  @media (min-width: $tablet) {
    display: block;
    width: 100%;
    background-color: $color-white;
  }

  @media (min-width: $desktop) {
    background-color: $color-grey-background;
  }
}

.banner-wrapper {
  width: $mobile;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    padding: 54px 0 0;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 938px;
    padding: 17px 0 58px;
  }
}

.banner__img {
  width: 100%;
  height: 100%;

  @media (min-width: $desktop) {
    width: auto;
    height: 100%;
    flex-shrink: 0;
  }
}

.banner__text {
  padding: 42px 0 0 42px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop) {
    padding: 86px 0 0 72px;
  }
}

.banner__title {
  color: $color-black;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  width: 169px;
  margin: 0;

  @media (min-width: $desktop) {
    line-height: 30px;
    width: 300px;
  }
}

.banner__title-add {
  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: inline-block;
  }
}

.banner__description {
  color: $color-grey;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  margin: 0;
  width: 309px;

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
    padding: 25px 52px 31px 0;
    width: auto;
  }
}

.banner__link {
  color: $color-magenta;
  text-decoration: underline;
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
