.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile;
  z-index: 2;
  position: relative;

  @media (min-width: $tablet) {
    width: 660px;
    height: 110px;
    display: flex;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    height: 110px;
  }
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 45px;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__phone {
  margin-top: 0;
}

.contacts__email {
  margin-top: 31px;
}

.contacts__address {
  margin-top: 35px;
}

.phone,
.email,
.address {
  display: flex;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $color-magenta;
  margin-top: 13px;
}
