.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile;
  z-index: 2;
  position: relative;

  @media (min-width: $tablet) {
    min-width: 660px;
    width: 100%;
    display: flex;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
  }
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  padding: 43px 0 34px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: 54px;
    padding: 44px 0 32px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
    line-height: 68px;
    padding: 59px 0 23px;
  }
}

.contacts__date {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 7px;
  }

  @media (min-width: $desktop) {
    width: 894px;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 241px 241px 241px;
  }
}

.contacts__phone,
.contacts__email,
.contacts__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;

  @media (min-width: $tablet) {
    width: 257px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    width: auto;
  }
}

.contacts__phone {
  margin-top: 0;
  margin-bottom: 18px;
}

.contacts__email {
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop) {
    order: 3;
  }
}

.contacts__address {
  @media (min-width: $tablet) {
    margin-top: 21px;
  }

  @media (min-width: $desktop) {
    margin-top: 18px;
  }
}

.phone,
.email,
.address {
  display: flex;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $color-magenta;
  margin-top: -1px;
  text-decoration: none;

  @media (min-width: $tablet) {
    margin: 4px;
  }

  @media (min-width: $desktop) {
    margin: 20px 4px;
  }
}
