.edit {
  background-color: $color-grey-background;

  @media (min-width: $desktop) {
    width: 100%;
    background-color: $color-white;
  }
}

.edit-wrapper {
  background-color: $color-grey-background;
  padding: 20px 20px 75px;

  @media (min-width: $tablet) {
    display: flex;
    padding: 57px 0 54px;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding: 57px 60px 57px 80px;
    width: 960px;
  }
}

.edit__photo {
  flex-shrink: 0;
}

.edit__info {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0 0 45px;
    width: 325px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 90px;
    width: 500px;
  }
}

.edit__tool-list {
  display: flex;
  justify-content: center;
  margin: 42px 0 0;
  padding: 0 0 56px;
  position: relative;

  @media (min-width: $tablet) {
    flex-direction: column;
    margin: 12px 0 0;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.edit__tool-item {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    position: relative;
    display: flex;
    padding-right: 18px;
  }

  @media (min-width: $desktop) {
    padding-right: 30px;
  }
}

.edit__tool-item:not(:last-child) {
  margin-right: 35px;

  @media (min-width: $tablet) {
    margin-right: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  @media (min-width: $desktop) {
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }
}

.edit__tool-item:not(:first-child) {
  @media (min-width: $tablet) {
    margin: 25px 0 0;
  }

  @media (min-width: $desktop) {
    margin: 30px 0 0;
  }
}

.edit__range-controls {
  display: none;
  margin-bottom: 8px;
  background-color: transparent;
  position: relative;

  @media (min-width: $tablet) {
    align-items: center;
    display: flex;
    margin-left: 29px;
    width: 100%;
  }

  @media (min-width: $desktop) {
    margin-left: 44px;
  }
}

.edit__range-controls--active {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  @media (min-width: $tablet) {
    display: flex;
    position: relative;
  }
}

.edit__scale {
  height: 2px;
  width: 100%;
  background-color: $color-grey;
}

.edit__toggle {
  position: absolute;
  top: -6px;
  left: 208px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid $color-magenta;
  background-color: $color-white;
  border-radius: 50%;
}

.edit__tool-item:nth-child(1) .edit__toggle {
  @media (min-width: $tablet) {
    top: 4px;
    left: 152px;
  }

  @media (min-width: $desktop) {
    top: 7px;
    left: 236px;
  }
}

.edit__tool-item:nth-child(2) .edit__toggle {
  @media (min-width: $tablet) {
    top: 4px;
    left: 40px;
  }

  @media (min-width: $desktop) {
    top: 6px;
    left: 48px;
  }
}

.edit__tool-item:nth-child(3) .edit__toggle {
  @media (min-width: $tablet) {
    top: 4px;
    left: 96px;
  }

  @media (min-width: $desktop) {
    top: 4px;
    left: 136px;
  }
}

.button-edit {
  border: 3px solid $color-grey;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  padding: 16px;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: 260px;
  }

  @media (min-width: $desktop) {
    width: 183px;
  }
}

.edit__buttons {
  background-color: $color-grey-background;
  width: 100%;
  margin: 27px 0 0;
  padding-top: 0;
  border-top: 1px solid rgba(40, 54, 69, 0.3);

  @media (min-width: $tablet) {
    border: none;
    display: flex;
    margin: 0 auto;
  }
}

.edit__buttons-wrapper {
  margin: 38px auto 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.edit__button-input.button-edit {
  margin-bottom: 12px;
  color: $color-magenta;
  border-color: $color-magenta;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    margin: 0 44px 0 0;
  }
}

.button--disabled {
  opacity: 0.1;
}
