.edit {
  background-color: $color-grey-background;

  @media (min-width: $desktop) {
    width: 100%;
    background-color: $color-white;
    margin-bottom: 66px;
  }
}

.edit-wrapper {
  background-color: $color-grey-background;
  padding: 20px 20px 54px;

  @media (min-width: $tablet) {
    display: flex;
    padding: 57px 0 54px;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding: 57px 60px 57px 80px;
    width: 940px;
  }
}

.edit__photo {
  flex-shrink: 0;
  width: 280px;
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet) {
    width: auto;
  }
}

.edit__info {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0 0 45px;
    width: 325px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 90px;
    width: 500px;
  }
}

.edit__tool-list {
  display: flex;
  margin: 42px auto 0;
  padding: 0 36px 49px;
  position: relative;
  width: 280px;

  @media (min-width: $tablet) {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin: 0;
    width: auto;
  }
}

.edit__tool-item:not(:first-child) {
  @media (min-width: $tablet) {
    margin: 20px 0 0;
  }

  @media (min-width: $desktop) {
    margin: 15px 0 0;
  }
}

.edit__tool-item:last-child {
  @media (min-width: $desktop) {
    border: none;
  }
}

.edit__tool-item {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    position: relative;
    display: flex;
    padding: 0 18px 22px 0;
    margin-right: 0;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  @media (min-width: $desktop) {
    padding: 0 30px 14px 0;
  }
}

.edit__photo-img {
  flex-shrink: 0;
}

.edit__range-controls {
  display: none;
  margin-bottom: 8px;
  background-color: transparent;
  position: relative;

  @media (min-width: $tablet) {
    align-items: center;
    display: flex;
    margin: 0 0 0 29px;
    width: 100%;
  }

  @media (min-width: $desktop) {
    margin-left: 44px;
  }
}

.edit__range-controls--active {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  @media (min-width: $tablet) {
    display: flex;
    position: relative;
  }
}

.edit__scale {
  height: 2px;
  margin: 0 auto;
  width: calc(100% - 40px);
  background-color: $color-grey;

  @media (min-width: $tablet) {
    width: calc(100% - 10px);
  }
}

.edit__toggle {
  position: absolute;
  top: -5px;
  left: 213px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid $color-magenta;
  background-color: $color-white;
  border-radius: 50%;
}

.edit__tool-item:nth-child(1) .edit__toggle {
  @media (min-width: $tablet) {
    top: 9px;
    left: 164px;
  }

  @media (min-width: $desktop) {
    top: 13px;
    left: 238px;
  }
}

.edit__tool-item:nth-child(2) .edit__toggle {
  @media (min-width: $tablet) {
    top: 9px;
    left: 27px;
  }

  @media (min-width: $desktop) {
    top: 14px;
    left: 36px;
  }
}

.edit__tool-item:nth-child(3) .edit__toggle {
  @media (min-width: $tablet) {
    top: 9px;
    left: 100px;
  }

  @media (min-width: $desktop) {
    top: 9px;
    left: 147px;
  }
}

.edit__tool-item:nth-child(3) .edit__photo-img {
  @media (min-width: $tablet) {
    margin-left: 6px;
  }
}

.edit__buttons {
  background-color: $color-grey-background;
  width: 100%;
  margin: 27px 0 0;
  padding-top: 0;
  position: relative;

  @media (min-width: $tablet) {
    border: none;
    display: flex;
    margin: 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;
    height: 1px;
    background-color: rgba(40, 54, 69, 0.3);

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.edit__buttons-wrapper {
  margin: 25px auto 0;
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: $tablet) {
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    width: auto;
  }
}

.edit__button {
  border: 3px solid $color-grey;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  padding: 16px;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: 260px;
  }

  @media (min-width: $desktop) {
    width: 183px;
  }
}

.edit__button-input.edit__button {
  margin-bottom: 12px;
  color: $color-magenta;
  border-color: $color-magenta;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    margin: 0 44px 0 0;
  }
}

.edit__button--disabled {
  opacity: 0.1;
}
