.feeling {
  background-color: $color-white;
  padding: 42px 22px 52px;
  width: 100%;

  @media (min-width: $tablet) {
    order: 5;
    padding: 42px 0 0;
  }
}

.feeling__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet) {
    border: 2px solid $color-grey-border;
    border-radius: 1px;
    width: 100%;
  }
}

.feeling__title {
  color: $color-magenta;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    display: block;
    padding: 0 31px;
    margin-bottom: 0;
  }
}

.feeling__item {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  line-height: 30px;

  @media (min-width: $tablet) {
    padding: 47px 60px 53px;
  }
}

.feeling__text {
  height: 197px;
  padding: 22px 18px;
  border: 2px solid $color-grey-border;
  border-radius: 1px;
}

.feeling__input {
  border: none;
  overflow: auto;
  outline: none;
  width: 100%;
}

.feeling__input::-webkit-input-placeholder {
  color: $color-grey;
  font-size: 18px;
}

.feeling__input::-moz-placeholder {
  color: $color-grey;
  font-size: 18px;
}

/* Firefox 19+ */
.feeling__input:-moz-placeholder {
  color: $color-grey;
  font-size: 18px;
}

/* Firefox 18- */
.feeling__input:-ms-input-placeholder {
  color: $color-grey;
  font-size: 18px;
}
