.map {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile;
  height: 100%;
  position: relative;
  margin-bottom: 48px;

  @media (min-width: $tablet) {
    min-width: 660px;
    width: 100%;
    display: flex;
    margin-bottom: -6px;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
    margin-bottom: 28px;
  }

  &::before {
    content: "";
    background-image: url("../img/triangle-map.svg");
    background-position: center top -56px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 123px;
    background-size: cover;

    @media (min-width: $tablet) {
      background-position: center top -37px;
    }

    @media (min-width: $desktop) {
      background-image: url("../img/triangle-map-desktop.svg");
      background-position: center top -22px;
    }
  }
}

.map iframe {
  @media (min-width: $tablet) {
    min-width: 660px;
    width: 100%;
    min-height: 374px;
  }

  @media (min-width: $tablet) {
    min-height: 391px;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
    min-height: 502px;
  }
}
