.page__body {
  margin: 0 auto;
  min-width: $mobile;
  width: 100%;
  font-family: $font;
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  color: $color-grey;
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
  }
}
