.page-catalog {
  position: relative;
  background-color: $color-white;
  color: $color-grey;
  margin-top: -66px;
}

.page-catalog__top-block {
  background-image: url("../img/back-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet@2x.png");
  }

  @media (min-width: $tablet) {
    min-width: 660px;
    width: 100%;
    background-image: url("../img/back_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
    background-image: url("../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
}

.page-catalog__title {
  color: $color-white;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  height: 237px;
  padding-top: 102px;
  margin: 0;
}
