.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
  z-index: 99;
  min-height: 66px;
  width: 280px;

  @media (min-width: $tablet) {
    min-height: 110px;
    width: 620px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    width: 940px;
    align-items: center;
  }
}

.page-header--opened {
  background-color: $color-grey;
  box-shadow: 0 1px 0 $color-black;
  position: absolute;
  width: 100%;
}

.page-header--closed {
  position: relative;
  padding-top: 16px;

  @media (min-width: $tablet) {
    padding-top: 0;
  }
}

.page-header__logo {
  z-index: 999;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    padding-top: 24px;
    height: 69px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    margin-bottom: 17px;
  }
}

.page-header--opened .page-header__logo {
  padding: 17px 20px;

  @media (min-width: $tablet) {
    height: 109px;
    padding: 20px;
  }
}

.page-header__nav {
  min-width: $mobile;
  width: 100%;
}

.page-header--opened .page-header__nav {
  margin-top: -9px;
}

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header--closed .page-header__toggle::before,
.page-header--closed .page-header__toggle::after,
.page-header--closed .page-header__toggle {
  position: absolute;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: $color-white;
}

.page-header--closed .page-header__toggle {
  top: 31px;

  @media (min-width: $tablet) {
    top: 53px;
  }

  &::before {
    content: "";
    top: -10px;
    right: 0;
  }

  &::after {
    content: "";
    top: 10px;
    right: 0;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:hover::before {
    opacity: 0.6;
    cursor: pointer;
  }
}

.page-header--opened .page-header__toggle {
  top: 5px;
  right: 0;

  @media (min-width: $tablet) {
    top: 25px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 25px;
    width: 28px;
    height: 4px;
    background-color: $color-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }
}

.page-header__nav--nojs .page-header__toggle {
  display: none;
}

.page-header__list {
  color: $color-white;
  list-style-type: none;
  padding: 0;
}

.page-header--opened .page-header__list {
  display: flex;
  flex-direction: column;
  z-index: 999;
  margin: 0;
}

.page-header--closed .page-header__list {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
    width: 620px;
    justify-content: space-between;
  }
}

.page-header--opened .page-header__item {
  background: $color-grey;
  box-shadow: 0 1px 0 $color-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  height: 63px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.page-header--opened .page-header__item:last-child {
  margin-top: 1px;
}

.page-header__nav--nojs .page-header__item {
  display: block;
}

.page-header__nav--nojs .page-header__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}

.page-header__nav--nojs .user-list__item {
  display: block;
}

.page-header__link {
  color: $color-white;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}

.page-header__link--active {
  @media (min-width: $desktop) {
    border-bottom: 2px solid $color-white;
    padding-bottom: 7px;
  }
}

.page-header--opened .page-header__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  text-transform: uppercase;
  color: $color-white;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.page-header--opened .page-header__link:first-child {
  margin-top: -3px;
}

.page-header--opened .page-header__link:last-child {
  padding-top: 17px;
}
