.page-form {
  position: relative;
  background-color: $color-white;
  color: $color-grey;
  margin-top: -76px;
  min-width: $mobile;
  width: 100%;

  @media (min-width: $tablet) {
    margin-top: -110px;
  }
}

.page-form__top-block {
  background-image: url("../img/back-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet@2x.png");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/back_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
}

.page-form__title {
  color: $color-white;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 104px 46px 44px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 50px;
    line-height: 68px;
    padding: 177px 20px 59px;
  }

  @media (min-width: $desktop) {
    padding: 169px 220px 89px;
  }

  &--add {
    display: block;

    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.page-form__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
