.page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: $mobile;
    height: 100%;

    @media (min-width: $tablet) {
        width: 660px;
        height: 110px;
        display: flex;
    }

    @media (min-width: $desktop) {
        width: $desktop;
        height: 110px;
    }
}
