.page-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile;
  height: 100%;
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}
