.page-form {
  position: relative;
  background-color: $color-white;
  color: $color-grey;
  margin-top: -66px;
  max-width: $mobile;
}

.page-form__top-block {
  background-image: url("../img/back-form-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-form__title {
  color: $color-white;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 102px 46px 51px;
}
