.photo-catalog {
  width: $mobile;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}

.photo-catalog__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    padding: 1px;
  }
}

.photo-catalog__item {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.photo-catalog__item:not(:first-child) {
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    padding-bottom: 33px;
  }
}

.photo-catalog__item--panorama .photo-catalog__description {
  margin: 0 20px;
}

.photo-catalog__item:first-child .photo-catalog__description {
  margin-bottom: 20px;
}

.photo-catalog__item--panorama {
  position: relative;
}

.photo-catalog__item--panorama::after {
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: 20px;
  background-color: $color-magenta;
  color: $color-white;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 6px 19px;
  width: 140px;

  @media (min-width: $tablet) {
    top: 57px;
  }

  @media (min-width: $desktop) {
    top: 54px;
    right: 130px;
  }
}

.photo-catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    width: 936px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-catalog__description {
  margin-bottom: 20px;
  padding: 25px 10px 26px 17px;
  background-color: $color-grey-background;
}

.photo-catalog__author {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photo-catalog__author span {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-catalog__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 14px 0 27px;
  margin: 0;
}

.photo-catalog__like {
  color: $color-magenta;
  position: relative;
  padding-left: 31px;

  &::after {
    position: absolute;
    min-height: 13px;
    width: 100%;
    left: 0;
    content: "";
    bottom: 0;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
  }
}
