.photo-catalog {
  width: 100%;
}

.photo-catalog__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
  }
}

.photo-catalog__item {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.photo-catalog__item:not(:first-child) {
  margin: 0;

  @media (min-width: $desktop) {
    padding-bottom: 33px;
  }
}

.photo-catalog__item--panorama .photo-catalog__description {
  width: 280px;
  padding-right: 13px;
  margin: -7px auto 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 940px;
    margin: 0 auto 29px;
  }
}

.photo-catalog__item--panorama {
  position: relative;
}

.photo-catalog__item--panorama::after {
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: 20px;
  background-color: $color-magenta;
  color: $color-white;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 6px 19px;
  width: 140px;

  @media (min-width: $tablet) {
    top: 57px;
  }

  @media (min-width: $desktop) {
    top: 54px;
    right: 130px;
  }
}

.photo-catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  @media (min-width: $desktop) {
    width: 942px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 19px;
    margin-top: 19px;
  }
}

.photo-catalog__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 25px 10px 18px 17px;
  background-color: $color-grey-background;

  @media (min-width: $tablet) {
    padding: 25px 10px 26px 17px;
  }
}

.photo-catalog__wrapper .photo-catalog__description {
  min-height: 121px;
  margin-top: -8px;

  @media (min-width: $tablet) {
    min-height: 155px;
    padding: 30px 10px 31px 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    min-height: 154px;
    padding: 20px 10px 20px 26px;
  }
}

.photo-catalog__wrapper .photo-catalog__item {
  margin-top: 24px;

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.photo-catalog__wrapper .photo-catalog__item:first-child {
  margin-top: 29px;

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.photo-catalog__author {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.photo-catalog__item--panorama .photo-catalog__author:first-child {
  @media (min-width: $tablet) {
    margin-left: 30px;
    margin-top: -3px;
  }

  @media (min-width: $desktop) {
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.photo-catalog__author span {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-catalog__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 12px;

  @media (min-width: $tablet) {
    margin: 14px 0 27px;
  }
}

.photo-catalog__item--panorama .photo-catalog__name {
  @media (min-width: $tablet) {
    order: 3;
    margin: 14px 30px 11px;
  }

  @media (min-width: $desktop) {
    order: 3;
    margin: -2px 10px 0;
    min-height: 10px;
  }
}

.photo-catalog__wrapper .photo-catalog__name {
  @media (min-width: $tablet) {
    min-height: 48px;
  }
}

.photo-catalog__like {
  color: $color-magenta;
  position: relative;
  padding-left: 32px;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: -2px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  &::after {
    position: absolute;
    min-height: 13px;
    width: 100%;
    left: 0;
    content: "";
    bottom: 4px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
  }
}

.photo-catalog__item--panorama .photo-catalog__like {
  @media (min-width: $tablet) {
    padding-right: 39px;
  }

  @media (min-width: $desktop) {
    padding-right: 50px;
    margin-top: -3px;
  }

  &::after {
    @media (min-width: $tablet) {
      left: 132px;
      bottom: 5px;
    }

    @media (min-width: $desktop) {
      left: 136px;
      bottom: 6px;
    }
  }
}

.photo-catalog__wrapper .photo-catalog__like {
  @media (min-width: $tablet) {
    padding-left: 0;
  }

  &::after {
    @media (min-width: $tablet) {
      left: 230px;
      bottom: 4px;
    }
  }
}
