.popup-submit-ok {
  background-color: $color-white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  padding-top: 44px;
  display: none;

  @media (min-width: $tablet) {
    background-color: $color-white;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    border-radius: 5px;
    max-width: 460px;
    margin: 0 auto;
  }
}

.popup-submit-ok__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $color-black;
  text-align: center;
  margin: 0;
}

.popup-submit-ok__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $color-grey;
  padding: 37px 20px 41px;
  align-items: center;
  text-align: center;
  margin: 0;
}

.button {
  border: 3px solid $color-grey;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  padding: 21px;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.popup-submit-ok__button-wrapper {
  padding: 52px 22px;
  background-color: $color-grey-background;
  border-radius: 0 0 1px 1px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    background-color: $color-grey-background;
    border-radius: 0 0 5px 5px;
  }
}

.popup-submit-ok__button {
  padding: 23px;
  align-items: center;
  text-align: center;
  background-color: $color-green;
  border: 2px solid $color-green;
  border-radius: 1px;
  color: $color-white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
