.post {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding: 44px 20px 35px;
  min-width: $mobile;
  width: 100%;
  color: $color-grey;

  @media (min-width: $tablet) {
    background-size: cover;
    font-size: 18px;
    padding: 91px 30px 72px;
  }

  @media (min-width: $desktop) {
    padding: 91px 76px 67px;
  }
}

.post__text {
  text-align: center;
  margin: 0;
}

.post__text-add {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop) {
    display: inline-flex;
    padding-left: 5px;
  }
}
