.post-button {
    background-color: $color-grey-background;
    padding: 38px 20px 41px;
    border-top: 1px solid $color-grey;
    display: flex;
    flex-direction: column;
}

.post-button__input {
    margin-bottom: 12px;
    color: $color-magenta;
    border-color: $color-magenta;
}

.button--disabled {
    opacity: 0.1;
}
