.post-top {
  width: $mobile;
  margin: 0 auto;
  height: 184px;

  @media (min-width: $tablet) {
    width: 620px;
    height: auto;
  }

  @media (min-width: $desktop) {
    width: 936px;
    margin-top: 8px;
  }
}

.post-top__text {
  text-align: center;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding: 44px 34px 50px;

  @media (min-width: $tablet) {
    font-size: 18px;
    padding: 100px 0 85px;
  }

  @media (min-width: $desktop) {
    padding: 104px 0 87px;
    max-width: 572px;
  }
}
