.post {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding: 54px 20px 55px;
  min-width: $mobile;
  width: 100%;
  color: $color-grey;

  @media (min-width: $tablet) {
    background-size: cover;
    min-width: $tablet;
    width: 100%;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
  }
}

.post__text {
  text-align: center;
}

.post__text--add {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}
