.post-bottom {
  width: $mobile;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 620px;
  }

  @media (min-width: $desktop) {
    width: 936px;
    margin-top: -30px;
  }
}

.post-bottom__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 29px 0 72px;

  @media (min-width: $tablet) {
    font-size: 18px;
    padding: 53px 0 78px;
  }

  @media (min-width: $desktop) {
    padding: 14px 0 75px;
  }
}
