.post-bottom {
  width: $mobile;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 620px;
  }

  @media (min-width: $desktop) {
    width: 936px;
  }
}

.post-bottom__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 20px 0 27px;

  @media (min-width: $tablet) {
    font-size: 18px;
    padding: 27px 0 52px;
  }

  @media (min-width: $desktop) {
    padding: 3px 0 49px;
    margin-top: 0;
  }
}
