.post-top {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding: 54px 20px 60px;
  min-width: $mobile;

  @media (min-width: $tablet) {
    background-size: cover;
    min-width: $tablet;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
  }
}

.post-top__text {
  text-align: center;
  margin: 0;
}
