.price {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile;
  background-color: $color-grey-background;
  overflow-x: hidden;
  position: relative;

  @media (min-width: $tablet) {
    min-width: 660px;
    width: 100%;
    display: flex;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
    padding-bottom: 98px;
  }
}

.price__wrapper {
  overflow: auto;
}

.price__list {
  background-color: $color-white;
  margin-left: -80px;
  position: relative;

  @media (min-width: $tablet) {
    margin: 0 auto;
    width: 940px;
  }

  @media (min-width: $desktop) {
    width: 940px;
  }
}

.price__list tr:nth-child(1) {
  position: relative;
}

.price__list::before {
  content: "";
  background-image: url("../img/grey-background-mask-bottom-mobile.svg");
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
  min-width: $mobile;
  height: 60px;
  overflow: hidden;
}

th,
td {
  border: 2px solid $color-grey-background;
  width: 280px;
  height: 59px;

  @media (min-width: $tablet) {
    width: 152px;
    height: 45px;
  }

  @media (min-width: $desktop) {
    width: 233px;
    height: 59px;
  }
}

tr:nth-child(1) td:nth-child(3) {
  position: relative;
}

tr:nth-child(1) td:nth-child(3)::after {
  content: "";
  background-image: url("../img/hit-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 74px;
  width: 74px;

  @media (min-width: $tablet) {
    left: 0;
    height: 61px;
    width: 61px;
  }

  @media (min-width: $desktop) {
    left: 0;
    height: 74px;
    width: 74px;
  }
}

.price__rate {
  background-color: $color-grey;
  height: 94px;
  padding-top: 19px;

  @media (min-width: $tablet) {
    height: 75px;
  }

  @media (min-width: $desktop) {
    height: 94px;
    padding-top: 23px;
  }
}

.price__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: $color-grey;

  &--mobile {
    display: inline-block;
    padding-right: 77px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &--empty {
    background-color: $color-grey-background;
  }
}

.price__value {
  width: 280px;
  padding: 0 12px;
  text-align: left;

  @media (min-width: $tablet) {
    text-align: center;
  }
}

.rate-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
  margin: 0;
}

.rate-cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
  margin: 0;
}

.price__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 45px 0 49px;

  @media (min-width: $tablet) {
    display: none;
  }
}
