.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile;
  background-color: $color-white;
  z-index: 99;
  align-items: center;
  text-align: center;
  padding: 50px 20px 60px;
  margin-top: -42px;
  position: relative;

  @media (min-width: $tablet) {
    min-width: 660px;
    width: 100%;
    display: flex;
    margin-top: 0;
    padding: 109px 20px 0;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    width: 100%;
  }
}

.reviews::after {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    content: "";
    background-image: url("../img/quotes.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 63px;
  }
}

.reviews__list {
  padding: 0;
  padding-inline-start: 0;
  margin: 0;
}

.reviews__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.reviews__author {
  margin: 0 auto;

  @media (min-width: $tablet) {
    order: 2;
  }
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: $color-black;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 18px;
    padding: 51px 0 17px;
  }
}

.reviews__author-post {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }
}

.reviews__description {
  padding: 31px 0 44px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: $color-grey;
  margin: 0;

  @media (min-width: $tablet) {
    order: 1;
    padding: 0 35px;
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    padding-top: 193px;
  }
}

.reviews__toggles {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 44px 0 60px;

  @media (min-width: $tablet) {
    padding: 49px 0 64px;
  }
}

.slider__toggle {
  background: $color-grey;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  padding: 0;
}

.slider__toggle:not(:last-child) {
  margin-right: 19px;
}

.slider__toggle--current {
  background: $color-white;
  opacity: 1;
  border: 3px solid $color-grey;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
}
