.submit {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet) {
    order: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    margin: 65px 0 41px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin: 66px 0 30px;
  }
}

.button {
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  padding: 21px;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.submit__button.button {
  background-color: $color-green;
  border: 2px solid $color-green;
  border-radius: 1px;
  color: $color-white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 15px;

  @media (min-width: $tablet) {
    padding: 15px;
    width: 300px;
  }
}

.submit__comment {
  margin: 33px auto 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.submit__comment-add {
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
  }
}

.mark {
  color: $color-magenta;
}
