.submit {
  padding: 0 22px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet) {
    order: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 59px;
    align-items: center;
    overflow-y: hidden;
  }
}

.button {
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  padding: 21px;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.submit__button.button {
  background-color: $color-green;
  border: 2px solid $color-green;
  border-radius: 1px;
  color: $color-white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.submit__comment {
  margin: 46px auto 26px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.mark {
  color: $color-magenta;
}
