$mobile: 320px;
$tablet: 660px;
$desktop: 1200px;

$font: "Open Sans", "Arial", sans-serif;

$shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

$opacity-03: 0.3;
$opacity-01: 0.1;
$opacity-05: 0.5;
$opacity-06: 0.6;

$color-black: #000000;
$color-white: #ffffff;
$color-magenta: #d22856;
$color-grey: #283645;
$color-grey-background: #f2f2f2;
$color-grey-border: #e5e5e5;
$color-green: #2aab6d;
